### scipy-notebook

numpy==1.18.2
ipywidgets==7.0.*
pandas==1.0.3
numexpr==2.6.*
matplotlib==2.0.*
scipy==1.4.1
seaborn==0.10.1
scikit-learn==0.19.*
scikit-image==0.13.*
sympy==1.0.*
cython==0.25.*
patsy==0.4.*
statsmodels==0.8.*
cloudpickle==0.2.*
dill==0.2.*
numba==0.31.*
bokeh==0.12.*
sqlalchemy==1.1.*
#hdf5
h5py==2.6.*
vincent==0.4.*
beautifulsoup4==4.5.*
protobuf==3.*
xlrd==1.1.*
plotly==4.5.4
tqdm==4.46.*
